*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 98%;
  margin: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul{
  list-style-type: none;
}

header {
  background-color: lightslategray;
  padding: 10px;
  position: sticky;
  top: 0;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

img{
  width: 100%;
}
figure{
  width: 20%;
}
.titulo{
  text-align: center;
}
.botonAgregar , .botonModificar{
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}
.botonBorrar{
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}
.botonVolver{
  color: white;
  background-color: #00B7FF;
  padding: 10px;
  border-radius: 10px;
}
.formulario{
  margin: auto;
  width: 20%;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 10px;

}

nav ul li a {
  margin-right: 10px;
  color: white;
}

.mensaje-error {
  color: tomato;
  font-size: 12px;
  font-weight: bold;
}