<%- include("header.ejs") -%>
    <br>
    <h1>LISTADO DE GENEROS</h1>
    <br>
    <p>
        <a class="botonAgregar" href="#">Agregar un Genero</a>
        <a class="botonVolver" href="/genres">inicio</a>
    </p>
    <br>
    <ul>
        <% for( let i = 0; i < genres.length; i++ ) { %>
        <li>
            <a href="/genres/detail/<%= genres[i].id %>"><%= genres[i].name %></a>
        </li>
        <% } %>

    </ul>
<%- include("footer.ejs") -%>