<%- include("header.ejs") -%>
    <br>
    <h1>Estas seguro de querer borrar la película <%= Movie.title %>?</h1>
    <p>
        <form action="/movies/delete/<%= Movie.id %>?_method=DELETE" method="POST">
            <br>
            <p> <button class="botonBorrar" type="submit">Borrar la Película</button>
            
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>

        </form>
    </p>
<%- include("footer.ejs") -%>